* {
    margin: 0;
    padding: 0;
}
body {
    background: #EFF1ED;
}

nav {
    position: fixed;
}
#navbar {
    background: #EFF1ED;
    padding: 16px 250px;
    box-shadow: 0px 0px 8px rgba(80, 90, 91, 0.2);
}
.navbar-content {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
}
#navbar .navbar-content a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #505A5B;
    text-decoration: none;
}
#navbar .navbar-content .storia-anchor {
    text-decoration-line: underline;
    color: #D36060;
}
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    background: #505A5B;
    border-radius: 8px;
    border: none;
}
.navbar-button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #E8EBE4;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

main {
    padding-top: 93px;
}
.hero-container {
    background-image: url('/img/chicaLentes.svg');
    background-repeat: no-repeat;
    background-attachment:inherit;
    /* background-size: 100% 100%; */
    display: flex;
    justify-content:flex-end;
    margin:0;
    padding: 160px 0px 160px 120px;
}

.hero-content {
    width: 507px;
    display: flex;
    flex-direction: column;
}
.hero-content .title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 156px;
    /* or 130% */
    letter-spacing: 0.02em;
    font-feature-settings: 'ordn' on, 'liga' off;
    color: #EFF1ED;
    margin-bottom: 0;
}
.hero-content .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    color: #EFF1ED;
}


.storia-content {
    display: flex;
    justify-content: space-between;
    padding: 156px 234px 120px 135px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: center;
}
.uppercase {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height, or 130% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #505A5B;
}
.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 73px;
    /* or 130% */
    font-feature-settings: 'liga' off;
    color: #505A5B;
    margin-top: 16px;
}
.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    font-feature-settings: 'liga' off;
    color: #333333;
    margin-top: 32px;   
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .storia-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .storia-content .content {
        margin-left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .storia-content {
        padding: 3rem;
    }
    .storia-content img {
        max-width: 50%;
        height: auto;
    }
    .content {
        margin-left: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .storia-content {
        padding: 3rem;
    }
    .content {
        margin-left: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .storia-content {
        padding: 5rem;
    }
    .content {
        margin-left: 3rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .storia-content {
        padding: 156px 135px 120px 135px;
    }
    
    .content {
        margin-left: 119px;  
    }
}

